<nav class="sidebar">
  <div class="logo">TaskManager Pro</div>
  <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
      <li><a routerLink="/view-task" routerLinkActive="active">All Tasks</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/tasks/completed" routerLinkActive="active">Completed</a></li>
      <li><a routerLink="/tasks/in-progress" routerLinkActive="active">In Progress</a></li>
      <li><a routerLink="/tasks/pending" routerLinkActive="active">Pending</a></li>
    </ul>
  <div class="user-section">
    <div class="user-name">Anirudh ▾</div>
  </div>